:root {
    --black: #000;
    --white: #fff;
    --dark-gray: #232323;
    --white-50: rgba(255, 255, 255, 0.5);
    --white-10: rgba(255, 255, 255, 0.05);
    --dark-gray-80: rgba(26, 26, 26, 0.9);
    --beige: rgb(246, 241, 236);
    --beige-30: rgba(186, 163, 151, 0.2);
    --gold: rgb(179, 137, 82);
    --gold-10: rgba(140, 116, 90, 0.07);
    --gold-60: rgb(139, 115, 89);
    --dark-blue: #2e2c43;
    --dark-blue-70: rgba(46, 44, 66, 0.7);
    --dark-blue-85: rgba(46, 44, 66, 0.85);
    --circle-size: 90rem;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--dark-gray);
    position: relative;
}

p {
    line-height: 1.6rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

main {
    width: 100%;
}

button {
    box-sizing: border-box;
}

h1 {
    color: var(--dark-blue);
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
    margin: 0;
    padding: 0 1rem;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
    color: var(--dark-blue);
    text-align: center;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .15rem;
    text-transform: uppercase;
}

/* swiper styles */

h2  {
    margin: 0;
}


.swiper-slide {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.swiper-slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide:nth-of-type(2n) {
    background-color: lightblue;
}

#pagination {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    margin-top: 1.5rem;
}

.pagination-box {
    align-self: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.slider-overlay {
    background-color: var(--dark-blue-70);
    padding: 4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: inherit;
    width: 100%;
    max-width: 700px;
    z-index: 2;
    top: 0;
    left: 0;
    pointer-events: none;
}

.swiper-pagination-bullet {
    opacity: 50%;
    background-color: white;
    width: .8rem;
    height: .8rem;
    margin: 0 1rem 0 0 !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}




.underline {
    border-bottom: 1px solid var(--dark-blue);
    width: 8rem;
    margin: 1.5rem;
}

.button-border {
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0 1rem;
    border: 1px solid var(--black);
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
    height: 3rem;
}

.button-border:hover {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: white;
}


#top-bar {
    justify-content: center;
    padding: 2rem 0;
    margin: auto;
    display: flex;
    align-items: center;
    height: auto;
}

.logo {
    height: 1.3rem;
}

.logo img {
    height: 100%;
    object-fit: contain;
}

.container {
    width: 90%;
    max-width: 1500px;
    margin: auto;
}

.burger-nav {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
}

nav {
    position: relative;
}

.nav-box {
    margin-bottom: 2rem;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: 0 1.5vw;
    transition: .2s;
    cursor: pointer;
}

.nav-item > a {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-border {
    margin-top: .3rem;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s;
}

.nav-item :hover + .nav-border {
    transform: scaleX(70%);
}

.inline {
    display: inline-block;
}

.slider {
    height: 750px;
    background-color: lightgray;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.about {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about > p {
    text-align: center;
    margin-bottom: 2rem;
    max-width: 800px;
}

.slider-text > h1 {
    color: var(--white);
    text-align: left;
    padding: 0;
}

.slider-text > p {
    color: var(--white);
    margin: 2rem 0;
}

#slide-num {
    color: var(--white-50);
    font-size: 1.5rem;
    font-weight: 800;
}

.slider-btns {
    pointer-events: auto;
}

.slider-btns :first-child {
    background-color: transparent;
    color: var(--white);
    border-color: var(--white);
    margin-right: .5rem;
}

.slider-btns :first-child:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

.button-full {
    border: none;
    background-color: var(--gold-60);
    color: var(--white);
}

.button-full:hover {
    background-color: var(--gold);
}

.gallery {
    margin-top: 10rem;
}

.gallery-box {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .4rem;
}

.gallery-panel {
    height: 20vw;
    min-height: 12rem;
    max-height: 16rem;
    width: 100%;
    background-color: lightgray;
    cursor: pointer;
    position: relative;
}

.gallery-panel:hover > .panel-overlay{
    opacity: 100;
}

.panel-overlay {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue-85);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: .15rem;
    opacity: 0;
    transition: .2s;
    z-index: 1;
    text-align: center;
}

.gallery-panel > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-panel:nth-child(2n) {
    background-color: var(--white);
}

.dark-bg {
    width: 100%;
    padding-top: 10rem;
    overflow: hidden;
    position: relative;
}

.services > h1 {
    color: var(--white);
    margin-bottom: 3rem;
}

.services-box {
    max-width: 800px;
    margin: auto;
}

.services-item {
    margin-bottom: 1rem;
    border: 1px solid var(--white);
    padding: 1.5rem;
    cursor: pointer;
    transition: .2s;
}

.services-item:hover {
    background-color: var(--gold-60);
    border: 1px solid var(--gold-60);
}

.services-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-top :first-child {
    display: flex;
    align-items: center;
}

.services-top h3 {
    color: var(--white);
    margin-left: 1.5rem;
}

.services-item > p{
    color: var(--white);
    display: none;
    margin-top: 2rem;
}

.icon-box {
    color: var(--white);
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
}

.contact {
    margin-top: 12rem;
    background-color: var(--white);
    display: flex;
}

.map {
    width: 50%;
    height: inherit;
    background-color: lightgray;
}

.map > iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-content {
    padding: 3rem 4rem;
    width: 50%;
}

.contact-info {
    margin: 2rem 0 2.5rem;
}

.info-item {
    margin-bottom: 1rem;
}

.contact-buttons {
    display: flex;
}

.btn-to-top {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.gallery-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: var(--dark-gray-80);
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay-box {
    display: none;
    position: fixed;
    padding: 2rem 2.5rem;
    bottom: 4rem;
    max-width: 850px;
    background-color: var(--white);
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
}

.contact-overlay-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-overlay-form h2 {
    word-break: break-word;
    text-align: left;
}

.contact-overlay-form > .underline {
    margin: 1rem 0;
}

.contact-overlay-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-overlay-close, .contact-overlay-success-close {
    color: var(--dark-blue);
    font-size: 2rem;
    cursor: pointer;
}

.contact-form-error-msg {
    display: none;
}

.contact-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form > div {
    display: flex;
}

.contact-form input {
    width: 100%;
}

.contact-form input:first-of-type {
    margin-right: .5rem;
}

.btn-contact-submit {
    background-color: var(--dark-blue);
    color: var(--white);
}

.input-item {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    margin-bottom: .5rem;
}


.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-img-box {
    width: 80%;
    margin: 0 1rem;
}

.gallery-img-box > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-container > button {
    border: none;
    background-color: transparent;
    color: var(--white);
    font-size: 3rem;
    cursor: pointer;
    padding: 0;
}

.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.bg div {
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: 50%;
    position: absolute;
}

.bg-top {
    top: -10rem;
    left: -40rem;
    background-color: var(--beige);
}

.bg:nth-of-type(2) {
    background-color: var(--dark-blue);
}

.bg-mid {
    top: -45rem;
    right: -45rem;
    background-color: var(--white-10);
}




@media (min-width: 901px) {
    .nav-box {
        display: flex !important;
    }
}

@media (max-width: 900px) {
    .gallery-box {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-panel {
        min-height: 40vw;
        max-height: 40vw;
    }

    .gallery-panel:last-of-type {
        display: none;
    }

    h1 {
        font-size: 9vw;
    }

    .contact {
        flex-direction: column;
    }

    .map {
        height: 20rem;
        width: 100%;
    }

    .contact-content {
        width: 100%;
    }

    .contact-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: space-between;
    }

    #top-bar {
        justify-content: space-between;
    }

    .burger-nav {
        display: flex;
    }

    .nav-box {
        background-color: var(--dark-gray-80);
        position: absolute;
        z-index: 15;
        display: none;
    }

    .nav-item > a {
        color: white;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    .nav-item {
        width: 100%;
        margin: .5rem 0;
        padding: 1rem;
    }

    .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav-border {
        display: none;
    }

    .slider {
        height: 500px;
    }

    .slider-overlay {
        height: 100%;
        padding: 5vw;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 3rem;
    }

    .contact-content {
        padding: 10%;
    }

    .services-item {
        padding: 5%;
    }

    .services-top h3 {
        font-size: 5.5vw;
    }

    .panel-overlay {
        padding: 0 1.3rem;
        font-size: 1rem;
    }

    .slider-overlay {
        padding: 2rem;
    }

    .slider button {
        margin-top: 1rem;
    }

    .contact-overlay {
        padding: 1.5rem;
    }

    .contact-overlay-top {
        align-items: flex-start;
    }

    .contact-form > div {
        flex-direction: column;
    }
}
